#root {
  max-width: 1280px;
  color: white;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

body {
  background-color: rgba(0, 0, 0, 0.05);
}

.logo {
  border-radius: 20px;
  margin-top: 0;
  width: auto;
  height: 6em;
  text-align:center;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #030419aa);
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.ABCs {
  padding: 2em;
  margin-right: 2em;
}

.basicWords {
  padding: 2em;
  margin-right: 2em;
}

.Colors {
  padding: 2em;
  margin-right: 2em;
}


.read-the-docs {
  color: #888;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap; /* Allows buttons to wrap to the next line if the container width is exceeded */
  gap: 10px; /* Adjust the gap between buttons as needed */
  justify-content: center; /* Center buttons horizontally */
  margin-bottom: 20px; /* Adds some space between the buttons and the dropdown content */
}

.ABCs {
  flex: 1; /* Allows buttons to grow and fill the space, adjust as needed */
  min-width: 120px; /* Minimum width for each button, adjust based on content */
  /* Add additional button styling here */
}